<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_distrib_root"
            name="Distributions"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="10"/>
    <menuitem
            id="menu_distrib_review"
            name="Review"
            parent="menu_distrib_root"
            action="product_template_action_distrib"
            sequence="1"/>
    <menuitem
            id="menu_distrib_operations"
            name="Operations"
            parent="menu_distrib_root"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="2"/>
    <menuitem
            id="menu_distrib_report"
            name="Reports"
            parent="menu_distrib_root"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="3"/>
    <menuitem
            id="menu_distrib_settings"
            name="Settings"
            parent="menu_distrib_root"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="4"/>
    <menuitem id="menu_distrib_settings_product"
              name="Products" parent="menu_distrib_settings"
              groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
              sequence="1"/>
    <menuitem
            id="menu_distrib_products"
            name="Products"
            parent="menu_distrib_settings_product"
            action="product_template_action_distrib"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="10"/>
    <menuitem
            id="menu_distrib_category"
            name="Product categories"
            parent="menu_distrib_settings_product"
            action="product.product_category_action_form"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="10"/>
    <menuitem
            id="menu_distrib_price"
            name="Pricelist"
            parent="menu_distrib_settings_product"
            action="product.product_pricelist_action2"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="11"/>
    <menuitem id="menu_distrib_settings_currency" name="Currency" parent="menu_distrib_settings" sequence="3"/>
    <menuitem
            id="menu_distrib_currency"
            name="Currency"
            parent="menu_distrib_settings_currency"
            action="base.action_currency_form"
            groups="ug_base_distrib.group_distrib_manager"
            sequence="11"/>

</odoo>
