<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_distrib_orders"
            name="Orders"
            parent="ug_base_distrib.menu_distrib_root"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="2"/>

    <menuitem
            id="menu_distrib_shop"
            name="Wholesale shop"
            parent="ug_base_distrib.menu_distrib_root"
            action="ug_wholesale_shop.shop_action_distrib"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="1"/>

    <menuitem
            id="menu_distrib_orders_items"
            name="Wholesale orders"
            parent="menu_distrib_orders"
            action="ug_wholesale_shop.action_orders_wholesale_shop"
            groups="ug_base_distrib.group_distrib_manager,ug_base_distrib.group_distrib_user"
            sequence="2"/>
</odoo>