<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_scada_root"
            name="NW Server"
            groups="nw_server.group_scada_user,nw_server.group_scada_manager"
            sequence="4"/>
    <menuitem
            id="menu_scada_protokol"
            name="Protokols"
            parent="menu_scada_root"
            groups="nw_server.group_scada_user,nw_server.group_scada_manager"
            sequence="3"/>
    <menuitem
            id="menu_scada_settings"
            name="Settings"
            parent="menu_scada_root"
            groups="nw_server.group_scada_user,nw_server.group_scada_manager"
            sequence="4"/>
</odoo>
