@-moz-document url-prefix() {

}
//
//html, body{
//  margin: 0;
//  font-family: Ubuntu, Arial, sans-serif;
//  font-size: 12px;
//  color: #302f2f;
//}
//li {
//  display: inline-block;
//}

#top > nav {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

textarea:focus, input:focus{
  outline: none;
}
textarea {
  resize: none;
}
img {
  border: 0px;
}
sub {
  font-size: 10px!important;
}
a {
  outline: none; /* Убираем границу вокруг ссылок  */
}

#prl {
  bottom: 30px;
  position: fixed;
  z-index: 2;
  right: 50%;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;
  background-color: #ed414d;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}
.body-lg #prl {
  display: block;
  margin: 0 -580px 0 0;
}
.body-md #prl {
  display: block;
  margin: 0 -480px 0 0;
}
.body-sm #prl {
  display: block;
  margin: 0 -380px 0 0;
}
.body-xs #prl {
  display: none;
}
#prl:hover {
  background: #ffe5e7!important;
  color: #222;
}


#begin {
  width: 46px;
  height: 46px;
  background: url(../img/up.png) no-repeat center top;
  bottom: 100px;
  position: fixed;
  z-index: 2;
  display: block;
  cursor: pointer;
  display: none;
  right: 50px;
}
#begin:hover {
  opacity: 0.7;
}
.rowline {
  /*
      height: 100%;
      max-width: 1170px;
      min-width: 980px;
      margin: -1px auto;

      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
  */

  width: 1170px;
  margin: 0 auto;
}

#poncho_slid, #poncho_slid_ban, #lang, #viewspan, #viewcat {
  display: none;
}
.clear {
  clear: both;
}

/* --- line1 ---------------------------------------------------- */
.h100pro {
  height: 100%;
}
.bgwhite {
  background: #fff;
  height: 100%;
}
.header_line1 {
  background: #ed414d;
  width: 100%;
  height: 155px;
}
.header_line2 {
  background: #ed414d;
  width: 100%;
  height: 60px;
}
.header_logo a{
  height: 100%;
  width: 100%;
  display: block;
  //background: url(../img/logo.gif) no-repeat center top;
  background-size: contain;
}
.header_logo {
  background: #fff;
  height: 100%;
}
.header_raz {
  height: 100%;
  background: #616d74;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.header_raz span{
  color: #fff;
  font-size: 20px;
  padding: 18px 0 0 18px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.header_search{
  background: #ed414d;
  height: 100%;
}
.header_search table{
  background: #616d74;
  /*margin: 0 0 0 5px;*/
  height: 60px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.ttb11 {
  width: 100px;
}
//.ttb10 {
//  padding-right: 10px;
//}
.inputsearch{
  background: #fff;
  margin: 0 -10px 0 10px;
  height: 41px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 0 0 0 20px;
  font-size: 16px;
}
.btsearch {
  display: block;
  height: 41px;
  width: 90px;
  background: #ed414d;
  color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
.btsearch span{
  color: #fff;
  font-size: 14px;
  padding: 10px 0 0 10px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.header_ttb {
  background: #ed414d;
}
.header_ttb table{
  margin: 0 0 0 5px;
  height: 150px;
  width: 100%;
}





.top_cart1 {
  color: #fff;
  font-weight: bold;
}
.body-lg .top_cart1 {
  font-size: 19px;
  margin: 14px 0 0 12px;
}
.body-md .top_cart1 {
  font-size: 19px;
  margin: 14px 0 0 12px;
}
.body-sm  .top_cart1 {
  font-size: 17px;
  margin: 8px 0 0 12px;
}
.body-xs .top_cart1 {
  font-size: 14px;
  margin: 8px 0 0 0px;
}

.top_cart2 {
  color: #fff;
}
.body-lg .top_cart2 {
  font-size: 14px;
  margin: 3px 0 0 12px;
}
.body-md .top_cart2 {
  font-size: 14px;
  margin: 3px 0 0 12px;
}
.body-sm  .top_cart2 {
  font-size: 12px;
  margin: 0px 0 0 12px;
}
.body-xs .top_cart2 {
  font-size: 12px;
  margin: 0px 0 0 0px;
}


.top_cart3 {
  color: #fff;
  font-size: 14px;
  margin: 4px 0 0 12px;
}
.body-lg .top_cart3 {
  font-size: 14px;
  margin: 4px 0 0 12px;
}
.body-md .top_cart3 {
  font-size: 14px;
  margin: 4px 0 0 12px;
}
.body-sm  .top_cart3 {
  font-size: 12px;
  margin: 1px 0 0 12px;
}
.body-xs .top_cart3 {
  font-size: 12px;
  margin: 1px 0 0 0px;
}

.top_cart_bt {
  background: #616d74 url(../img/cart.gif) no-repeat 18px 8px;
  display: block;
  height: 45px;
  border-radius: 6px;
  text-decoration: none;
}
.body-lg .top_cart_bt {
  background: #616d74 url(../img/cart.gif) no-repeat 18px 8px;
  width: 172px;
  margin: 8px 0 0 12px;
}
.body-md .top_cart_bt {
  background: #616d74 url(../img/cart.gif) no-repeat 18px 8px;
  width: 195px;
  margin: 8px 0 0 12px;
}
.body-sm  .top_cart_bt {
  background: #616d74;
  width: 120px;
  margin: 8px 0 0 12px;
}
.body-xs .top_cart_bt {
  background: #616d74 url(../img/cart.gif) no-repeat 18px 8px;
  width: 68px;
  float: right;
  margin: -41px 0 0 0;
}

.body-lg .top_cart_bt:hover {
  background: #252525 url(../img/cart_.gif) no-repeat 18px 8px!important;
}
.body-md .top_cart_bt:hover {
  background: #252525 url(../img/cart_.gif) no-repeat 18px 8px!important;
}
.body-sm  .top_cart_bt:hover {
  background-color: #252525!important;
}
.body-xs .top_cart_bt:hover {
  background: #252525 url(../img/cart_.gif) no-repeat 18px 8px!important;
}

.top_cart_bt span {
  color: #fff;
  font-size: 14px;
  display: block;
  font-weight: bold;
}

.body-lg .top_cart_bt span {
  padding: 12px 0 0 70px;
  display: block;
}
.body-md .top_cart_bt span {
  padding: 12px 0 0 70px;
  display: block;
}
.body-sm  .top_cart_bt span {
  padding: 12px 0 0 20px;
  display: block;
}
.body-xs .top_cart_bt span {
  padding: 12px 0 0 70px;
  display: none;
}
































.header_second {
  height: 60px;
  width: 100%;
  background: #fff;
}
.ttb1 {
  border-bottom: 1px solid #fff;
  height: 50px;
}
.ttb2 {
  border-bottom: 1px solid #fff;
  text-align: right;
  height: 50px;
}
.ttb3 {
  vertical-align: top;
  padding-left: 50px;
  border-left: 1px solid #fff;
}
.body-lg .ttb3 {
  border-left: 1px solid #fff;
}
.body-md .ttb3 {
  border-left: 1px solid #fff;
}
.body-sm  .ttb3 {
  border-left: 1px solid #fff;
}
.body-xs .ttb3 {
  border-top: 1px solid #fff;
}
.ttb4 {
  text-align: center;
}
.ttb5 {
  /*background: #ef3a45;*/
  text-align: center;
}
.ttb6 {
  text-align: center;
}


.lang_ru {
  color: #fff;
  font-size: 14px;
  margin: 0 12px 0 0;
  text-decoration: none;
}
.lang_uk {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.lang_uk:hover, .lang_ru:hover , .registr a:hover , .sign_in a:hover {
  color: #efabaf;
}
.ttb1  .active {
  font-weight: bold;
}

.registr a{
  color: #fff;
  font-size: 14px;
  margin: 0 20px 0 20px;
  text-decoration: none;
}
.registr {
  background: url(../img/t1.gif) no-repeat left top;
}
.sign_in a{
  color: #fff;
  font-size: 14px;
  margin: 0 0px 0 26px;
  text-decoration: none;
}
.sign_in {
  background: url(../img/t2.gif) no-repeat left top;
}



.ttb9 .s {
  color: #fff;
  margin: 1px 0 0 0;
}
.body-lg .ttb9 .s {
  font-size: 18px;
}
.body-md .ttb9 .s {
  font-size: 16px;
}
.body-sm  .ttb9 .s {
  font-size: 14px;
  margin: 4px 0 0 0;
}
.body-xs .ttb9 .s {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}



.ttb9 .f {
  color: #fff;
  margin: 1px 0 0 0;
}
.body-lg .ttb9 .f {
  font-size: 18px;
  font-weight: bold;
}
.body-md .ttb9 .f {
  font-size: 18px;
  font-weight: bold;
}
.body-sm  .ttb9 .f {
  font-size: 16px;
  font-weight: bold;
}
.body-xs .ttb9 .f {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}
.ttb1 {
  li {
    display: inline-block;
  }
}
.ttb2 {
  li {
    display: inline-block;
  }
}
.ttb3 {
  li {
    list-style-type: none;
    padding-top: 40px;
    width: 70px;
  }
}
.ttb5.ttb9 {
  li{
    list-style-type: none;
  }
}
.ttb10 {
  li{
    list-style-type: none;
  }
  padding-right: 10px;
  padding-left: 10px;
}

.ttb9 .t {
  color: #fff;
  font-weight: bold;
}
.body-lg .ttb9 .t {
  font-size: 22px;
  margin: 3px 0 0 0;
}
.body-md .ttb9 .t {
  font-size: 18px;
  margin: 4px 0 0 0;
}
.body-sm  .ttb9 .t {
  font-size: 16px;
  margin: 4px 0 0 0;
}
.body-xs .ttb9 .t {
  font-size: 12px;
  font-weight: normal;
  margin: 1px 0 0 0;
}


/* --- line2 --- */

.cont_left {
  vertical-align: top;
  padding: 0 !important;
}
.mmen {
  width: 100%;
  display: block;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  text-decoration: none;
  //line-height: 50px;
}
.body-lg .mmen {
  line-height: 50px;
}
.body-md .mmen {
  line-height: 50px;
}
.body-sm  .mmen {
  line-height: 40px;
}
.body-xs .mmen {
  line-height: 50px;
}

.cont_left .mmen {
  line-height: 50px;
}
.cont_left .mmen span {
  font-size: 16px;
  margin: 0 0 0 18px;
}

.mmen span {
  color: #777777;
  text-transform: uppercase;
}
.body-lg .mmen span {
  font-size: 16px;
  margin: 0 0 0 18px;
}
.body-md .mmen span {
  font-size: 14px;
  margin: 0 0 0 16px;
}
.body-sm  .mmen span {
  font-size: 13px;
  margin: 0 0 0 12px;
}
.body-xs .mmen span {
  font-size: 16px;
  margin: 0 0 0 18px;
}
.mmen:hover {
  background: #ffe5e7!important;
}
.cont_left .active {
  background: #eee;
}

.left_news{
  height: 60px;
  width: 100%;
  background: #616d74;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 32px 0 0 0;
  cursor: pointer;
}
.left_news span{
  color: #fff;
  font-size: 20px;
  padding: 18px 0 0 18px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.left_news_cont {
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 12px 20px 12px;
  margin: 0 0 50px 0;
}
.left_news_tit {
  color: #ed414d;
  text-decoration: none;
  display: block;
}
.body-lg .left_news_tit {
  margin: 24px 0 0px 0;
  font-size: 16px;
}
.body-md .left_news_tit {
  margin: 20px 0 0px 0;
  font-size: 14px;
}
.body-sm  .left_news_tit {
  margin: 18px 0 0px 0;
  font-size: 12px;
}
.body-xs .left_news_tit {
  margin: 24px 0 0px 0;
  font-size: 16px;
}
.left_news_tit:hover {
  color: #e90513;
  text-decoration: underline;
}
.left_news_text {
  color: #302f2f;
  font-size: 12px;
}


/* --- left_dop_cont --- */

.left_dop_cont {
  border-left: 1px solid #eeeeee;
  border-top: 3px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 0 0 0;
  margin: 20px 0 20px 0;
}
.left_dop_cont .active{
  background: #eeeeee!important;
}
.mmen2 {
  display: block;
  border-bottom: 1px solid #eeeeee;
  line-height: 30px;
  text-decoration: none;
  padding: 0 10px;
  color: #555;
}
.mmen2:hover {
  background: #ffe5e7;
}
/*
.mmen2 span {
	color: #777777;
	font-size: 16px;
	margin: 0 0 0 18px;
	text-transform: uppercase;
}
.mmen2:hover {
	background: #ffe5e7!important;
}
*/
/* --- line2 slider --- */
.cont_right {
  vertical-align: top;
}

.top_cat {
  width: 100%;
}
.body-lg .top_cat {
  margin: 0px 0 50px 120px;
}
.body-md .top_cat {
  margin: 0px 0 50px 120px;
}
.body-sm  .top_cat {
  margin: 0px 0 30px 0px;
}
.body-xs .top_cat {
  margin: 0px 0 20px 0px;
}
.top_cat2 {
  margin: -20px 0 0 0;
  width: 100%;
}
.top_cat a, .top_cat2 a {
  display: block;
  float: left;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  text-decoration: none!important;
  box-shadow: 4px 4px 5px silver;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.body-lg .top_cat a:nth-child(1n+1), .body-lg .top_cat2 a:nth-child(1n+1) {
  margin: 20px 0 0 0px;
  width: 418px;
  height: 172px;
}
.body-lg .top_cat a:nth-child(2n+2), .body-lg .top_cat2 a:nth-child(2n+2) {
  margin: 20px 0 0 10px;
  width: 418px;
  height: 172px;
}

.body-md .top_cat a:nth-child(1n+1), .body-md .top_cat2 a:nth-child(1n+1) {
  margin: 20px 0 0 0px;
  width: 343px;
  height: 172px;
}
.body-md .top_cat a:nth-child(2n+2), .body-md .top_cat2 a:nth-child(2n+2) {
  margin: 20px 0 0 10px;
  width: 343px;
  height: 172px;
}

.body-sm  .top_cat a, .body-sm .top_cat2 a {
  margin: 10px 0 0 0px;
  width: 100%;
  height: 142px;
}
.body-xs .top_cat a, .body-xs .top_cat2 a {
  margin: 10px 0 0 0px;
  width: 100%;
  height: 172px;
}
.top_cat a .tit, .top_cat2 a .tit{
  font-size: 20px;
  color: #616d74;
  font-weight: bold;
  margin: 25px 0 0 25px;
  display: block;
  text-transform: uppercase;
  text-shadow: #FFF 1px 0px, #FFF 1px 1px, #FFF 0px 1px, #FFF -1px 1px, #FFF -1px 0px, #FFF -1px -1px, #FFF 0px -1px, #FFF 1px -1px, #FFF 0 0 3px, #FFF 0 0 3px, #FFF 0 0 3px, #FFF 0 0 3px, #FFF 0 0 3px, #FFF 0 0 3px, #FFF 0 0 3px, #FFF 0 0 3px;
}
.top_cat a .cat, .top_cat2 a .cat{
  font-size: 20px;
  color: #ed414d;
  font-weight: bold;
  margin: 5px 0 0 25px;
  display: block;
}


/* --- footer 1 --- */

.footer_line1 {
  background: #252525;
  width: 100%;
}
.body-lg .footer_line1 {
  min-height: 142px;
}
.body-md .footer_line1 {
  min-height: 142px;
}
.body-sm .footer_line1 {
  min-height: 142px;
}
.body-xs .footer_line1 {
  min-height: 52px;
}

.footer_line1 span {
  display: block;
}
.footer_line1 span a{
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.body-lg .footer_line1 span {
  font-size: 20px;
  line-height: 42px;
  margin: 20px 0 0 0;
  padding: 0 0 0 55px;
}
.body-md .footer_line1 span {
  font-size: 18px;
  line-height: 36px;
  margin: 20px 0 0 0;
  padding: 0 0 0 45px;
}
.body-sm .footer_line1 span {
  font-size: 14px;
  line-height: 30px;
  margin: 16px 0 0 0;
  padding: 0 0 0 35px;
}
.body-xs .footer_line1 span {
  font-size: 8px;
  margin: 12px 0 0 0;
  padding: 0 0 0 25px;
}

.body-lg .footer_line1 p {
  display: block;
  margin: 15px 20px -10px 0;
}
.body-md .footer_line1 p {
  display: block;
  margin: 15px 20px -10px 0;
}
.body-sm .footer_line1 p {
  display: block;
  margin: 15px 20px -10px 0;
}
.body-xs .footer_line1 p {
  display: none;
}



.footer_line1 p a {
  color: #cfcfcf;
  text-decoration: none;
}
.footer_line1 p a:hover{
  text-decoration: underline;
}

.body-lg .footer_line1 p a {
  font-size: 14px;
  line-height: 20px;
}
.body-md .footer_line1 p a {
  font-size: 12px;
  line-height: 16px;
}
.body-sm .footer_line1 p a {
  font-size: 10px;
  line-height: 14px;
}
.body-xs .footer_line1 p a {
  font-size: 10px;
  line-height: 10px;
}



.body-lg .bottom_r1 {
  background: url(../img/r1.gif) no-repeat 0px 25px;
}
.body-lg .bottom_r2{
  background: url(../img/r2.gif) no-repeat 5px 20px;
}
.body-lg .bottom_r3 {
  background: url(../img/r3.gif) no-repeat 0px 25px;
}

.body-md .bottom_r1 {
  background: url(../img/r1.gif) no-repeat 0px 25px;
  background-size: 40px 29px;
}
.body-md .bottom_r2{
  background: url(../img/r2.gif) no-repeat 5px 20px;
  background-size: 33px 37px;
}
.body-md .bottom_r3 {
  background: url(../img/r3.gif) no-repeat 0px 25px;
  background-size: 38px 30px;
}
.body-sm .bottom_r1 {
  background: url(../img/r1.gif) no-repeat 0px 21px;
  background-size: 36px 26px;
}
.body-sm .bottom_r2{
  background: url(../img/r2.gif) no-repeat 5px 16px;
  background-size: 29px 33px;
}
.body-sm .bottom_r3 {
  background: url(../img/r3.gif) no-repeat 0px 21px;
  background-size: 34px 27px;
}
.body-xs .bottom_r1 {
  background: url(../img/r1.gif) no-repeat 10px 16px;
  background-size: 22px 16px;
}
.body-xs .bottom_r2{
  background: url(../img/r2.gif) no-repeat 14px 12px;
  background-size: 18px 20px;
}
.body-xs .bottom_r3 {
  background: url(../img/r3.gif) no-repeat 10px 16px;
  background-size: 21px 17px;
}


.mm_bottom_r1 h3, .mm_bottom_r2 h3, .mm_bottom_r3 h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
}





/* --- line4 --- */

.footer_line3 {
  background: #191919;
  width: 100%;
  border-top: 1px solid #2f2f2f;
}
.body-lg .footer_line3 {
  height: 356px;
  display: block;
}
.body-md .footer_line3 {
  height: 356px;
  display: block;
}
.body-sm .footer_line3 {
  height: 300px;
  display: block;
}
.body-xs .footer_line3 {
  display: none;
}
.contact_bottom1 span {
  color: #fefefe;
  font-weight: bold;
  display: block;
  line-height: 18px;
}
.body-lg .contact_bottom1 span, .body-md .contact_bottom1 span {
  margin: 57px 0 0 0;
  font-size: 20px;
}
.body-sm .contact_bottom1 span {
  margin: 34px 0 0 0;
  font-size: 18px;
}
.contact_bottom1 a{
  color: #808080;
  display: block;
  cursor: pointer;
  margin: 16px 0 0 0;
}
.body-lg .contact_bottom1 a, .body-md .contact_bottom1 a {
  font-size: 14px;
  line-height: 18px;
}
.body-sm .contact_bottom1 a {
  font-size: 14px;
  line-height: 14px;
}

.contact_bottom1 .active{
  color: #fff!important;
}

.body-lg .contact_bottom2, .body-md .contact_bottom2 {
  padding: 57px 0 0 0;
}
.body-sm .contact_bottom2 {
  padding: 34px 0 0 0;
}
.contact_bt {
  border: 1px solid #3f3f3f;
  display: block;
  float: left;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.contact_bottom2 .active {
  color: #000!important;
  background: #616d74!important;
}
.contact_content {
  border: 1px solid #3f3f3f;
  display: block;
  clear: both;
  border-radius: 6px;
  width: 95%;
  font-size: 14px;
  background: url(../img/btf.jpg) no-repeat center center;
}
.body-lg .contact_content, .body-md .contact_content {
  height: 200px;
}
.body-sm .contact_content {
  height: 160px;
}
.cc1 {
  color: #fff;
  position: absolute;
}
.body-lg .cc1, .body-md .cc1 {
  font-size: 18px;
  margin: 20px 0 0 30px;
}
.body-sm .cc1 {
  font-size: 16px;
  margin: 14px 0 0 30px;
}
.cc2 {
  color: #acacac;
  position: absolute;
}
.body-lg .cc2, .body-md .cc2 {
  font-size: 14px;
  margin: 70px 0 0 30px;
}
.body-sm .cc2 {
  font-size: 12px;
  margin: 50px 0 0 30px;
}
.cc3 {
  font-size: 14px;
  color: #acacac;
  position: absolute;
}
.body-lg .cc3, .body-md .cc3 {
  font-size: 14px;
  margin: 100px 0 0 30px;
}
.body-sm .cc3 {
  font-size: 12px;
  margin: 70px 0 0 30px;
}
.cc4 {
  font-size: 14px;
  color: #acacac;
  position: absolute;
}
.body-lg .cc4, .body-md .cc4 {
  font-size: 14px;
  margin: 130px 0 0 30px;
}
.body-sm .cc4 {
  font-size: 12px;
  margin: 90px 0 0 30px;
}
.cc5 {
  font-size: 14px;
  color: #acacac;
  position: absolute;
}
.body-lg .cc5, .body-md .cc5 {
  font-size: 14px;
  margin: 70px 0 0 290px;
}
.body-sm .cc5 {
  font-size: 12px;
  margin: 50px 0 0 270px;
}
.cc_map {
  position: absolute;
}
.body-lg .cc_map {
  margin: 10px 0 0 740px;
}
.body-md .cc_map {
  margin: 10px 0 0 580px;
}
.body-sm .cc_map {
  margin: 50px 0 0 420px;
}
.body-sm .cc_map img{
  height: 100px;
}
.body-lg .cc_map img, .body-md .cc_map img{
  height: 174px;
}

.body-lg .contact_bt {
  padding: 10px 30px;
  margin: 0 14px 7px 0;
  font-size: 14px;
}
.body-md .contact_bt {
  padding: 8px 10px;
  margin: 0 10px 7px 0;
  font-size: 12px;
}
.body-sm .contact_bt {
  padding: 8px 10px;
  margin: 0 10px 7px 0;
  font-size: 12px;
}

/* --- line5 --- */

.footer_line2 {
  background: #191919;
  width: 100%;
  border-top: 1px solid #2f2f2f;
}
.footer_line2 span {
  color: #808080;
  display: block;
  position: absolute;
}
.body-lg .footer_line2 {
  height: 54px;
}
.body-lg .footer_line2 span {
  font-size: 14px;
  line-height: 14px;
  margin: 18px 0 0 0;
}
.body-md .footer_line2{
  height: 48px;
}
.body-md .footer_line2 span {
  font-size: 12px;
  line-height: 14px;
  margin: 16px 0 0 0;
}
.body-sm .footer_line2{
  height: 40px;
}
.body-sm .footer_line2 span {
  font-size: 10px;
  line-height: 14px;
  margin: 14px 0 0 0;
}
.body-xs .footer_line2{
  height: 36px;
}
.body-xs .footer_line2 span {
  font-size: 10px;
  line-height: 12px;
  margin: 12px 0 0 0;
}






















/* --- Главная (Банер) --- */

.indexslider {
  margin: 20px 0 0 0px;
  width: 100%;
}
.body-lg .indexslider {
  height: 286px;
}
.body-md .indexslider {
  height: 235px;
}
.body-sm .indexslider {
  height: 158px;
}
.indexslider .slid {
  height: 100%;
  width: 100%;
}


#slider-wrap{ /* Оболочка слайдера и кнопок */
  width: 100%;
  height: 100%;
  position:relative;
}
#slider, #slider_left{ /* Оболочка слайдера */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:relative;
  border-radius: 3px;
}
.slide, .slide_left { /* Слайд */
  width: 100%;
  height: 100%;
  background: no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  border-radius: 3px;
}



.sli-links, .sli-links_left{ /* Кнопки смены слайдов */
  margin-top: -30px;
  text-align: center;
  z-index: 9px;
  position: absolute;
  width: 100%;
}

.sli-links .control-slide, .sli-links_left .control-slide_left{
  margin: 2px;
  display: inline-block;
  width: 11px;
  height: 11px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover, .sli-links_left .control-slide_left:hover{
  cursor: pointer;
  background-position: center center;}
.sli-links .control-slide.active, .sli-links_left .control-slide_left.active{
  background-position: center top;
}
#prewbutton{ /* Ссылка "Следующий" и "Педыдущий" */
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 30px;
  /*margin: 0 0 0 -490px;*/
  overflow: hidden;
  text-indent:-999px;
  background: url(../img/left.png) left top no-repeat;
  z-index: 3;
  opacity: 0.5;
}

#nextbutton{
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 30px;
  /*margin: 0 0 0 450px;*/
  overflow: hidden;
  text-indent:-999px;
  background:url(../img/right.png) left top no-repeat;
  z-index: 3;
  opacity: 0.5;
}
.body-lg #prewbutton, .body-lg #nextbutton {
  top: 128px;
}
.body-md #prewbutton, .body-md #nextbutton {
  top: 100px;
}
.body-sm #prewbutton, .body-sm #nextbutton {
  top: 65px;
}

#prewbutton:hover, #prewbutton_left:hover{
  background:url(../img/left.png) left bottom no-repeat;
  opacity: 1;
}
#nextbutton:hover, #nextbutton_left:hover{
  background:url(../img/right.png) left bottom no-repeat;
  opacity: 1;
}




















#sDropList .active {
  background-color: #00356b;
}
#sDropList .active p.text {
  color: #ffffff;
}
#sDropList .active p.price span {
  background-position: 0 bottom;
}
#sDropList .active p.price span span {
  background-position: right bottom;
  color: #497806;
}


#sDropList {
  display: block;
  position: absolute;
  z-index: 10000000;
  width: 570px;
  border: 1px solid #cfcfcf;
  background: #ffffff;
  margin: 0px 0 0 12px;
}
#sDropList a {
  display: block;
  /*width: 550px;*/
  overflow: hidden;
  padding: 0 10px;
  text-decoration: none;
  margin: 0;
}
#sDropList a div {
  padding: 10px 0 8px 0;
  border-top: 1px dashed #e0e0e0;
  border-bottom: 1px dashed #e0e0e0;
  margin: -1px 0 0 0;
  min-height: 35px;
}
#sDropList a img {
  float: left;
  max-width: 45px;
  max-height: 40px;
  border: 1px solid #e8e8e8;
  margin-top: 2px;
}
#sDropList a p.text {
  font: normal 13px/16px Ubuntu;
  color: #4e4e4e;
  margin: 0 0 5px 60px;
}
#sDropList a p.text span{
  font: normal 10px/16px Ubuntu;
  color: #999;
}
#sDropList a p.price {
  margin: 0 0 5px 60px;
}
#sDropList a p.price span {
  display: inline-block;
  background: url(../img/f059.gif) 0 0 no-repeat;
}
#sDropList a p.price span span {
  display: inline-block;
  height: 18px;
  position: relative;
  right: -6px;
  padding-right: 6px;
  font: normal 11px/16px Ubuntu;
  color: #ffffff;
  background: url(../img/f059.gif) right 0 no-repeat;
}
#sDropList a:hover {
  background-color: #ed414d;
}
#sDropList a:hover p.text {
  color: #ffffff;
}
#sDropList a p.text span{
  color: #d3d3d3;
}
#sDropList a:hover p.price span {
  background-position: 0 bottom;
}
#sDropList a:hover p.price span span {
  background-position: right bottom;
  color: #497806;
}
#sDropList p.next {
  overflow: hidden;
  padding: 5px 10px 7px 10px;
  text-align: right;
}
#sDropList p.next a {
  display: inline;
  text-decoration: underline;
  color: #ed414d;
  font: normal 13px/16px Ubuntu;
}
#sDropList p.next a:hover {
  background: white;
  color: #efabaf;
}






#mm_bottom_r1 h3, #mm_bottom_r2 h3, #mm_bottom_r3 h3, #faq_qwe h3 {
  color: #333;
  font-size: 20px;
  line-height: 26px;
  padding: 0 20px;
}
#mm_bottom_r1 p, #mm_bottom_r2 p, #mm_bottom_r3 p, #faq_qwe p {
  color: #555;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
}
#mm_bottom_r1 p a, #mm_bottom_r2 p a, #mm_bottom_r3 p a, #faq_qwe p a {
  color: #555;
  font-size: 14px;
  line-height: 18px;
}


.page_hk {
  margin: 0 0 0 0px;
  padding: 16px 0 10px 0;
  border-bottom: 1px solid #eeeeee;
  color: #555;
  width: 100%;
}
.page_hk a{
  color: #555;
  text-decoration: none;
}
.page_hk a:hover, .top_news div .tit:hover, .top_faq div .tit:hover {
  text-decoration: underline;
}
.page_title {
  font-size: 20px;
  color: #616d74;
  font-weight: bold;
  margin: 20px 0 0 0px;
  text-transform: uppercase;
}
.page_title2 {
  font-size: 20px;
  color: #616d74;
  font-weight: bold;
  margin: 30px 0 20px 0px;
  text-transform: uppercase;
}
.text_page {
  font-size: 15px;
  color: #222;
  line-height: 20px;
  padding: 10px 0 50px 0px;
  text-align: justify;
}
.text_page a {
  font-size: 15px;
  color: #ed414d;
  line-height: 20px;
  text-decoration: none;
}
.text_page a:hover {
  text-decoration: underline;
}
.text_page ul {

}
.text_page img{
  max-width: 100%;
}

.body-lg #map{
  width: 100%;
  height: 420px;
}
.body-md #map {
  width: 100%;
  height: 380px;
}
.body-sm #map  {
  width: 100%;
  height: 300px;
}
.body-xs #map {
  width: 100%;
  height: 200px;
}


.top_news {
  width: 100%;
}
.top_news div{
  display: block;
  border: 1px solid #eeeeee;
  margin: 20px 0 0 0;
  padding: 20px;
  border-radius: 3px;
  text-decoration: none;
}
.body-xs .top_news div{
  background: #fff!important;
}

.top_news div .tit{
  font-size: 18px;
  color: #ed414d;
  /*	font-weight: bold;*/
  margin: 0 0 20px 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.body-lg .top_news div .tit{
  padding: 0 200px 0 0;
}
.body-md .top_news div .tit{
  padding: 0 200px 0 0;
}
.body-sm  .top_news div .tit{
  padding: 0 200px 0 0;
}
.body-xs .top_news div .tit{
  padding: 0 0px 0 0;
}

.top_news div .cat{
  font-size: 14px;
  color: #333;
  display: block;
}
.body-lg .top_news div .cat{
  padding: 0 200px 0 0;
}
.body-md .top_news div .cat{
  padding: 0 200px 0 0;
}
.body-sm  .top_news div .cat{
  padding: 0 200px 0 0;
}
.body-xs .top_news div .cat{
  padding: 0 0px 0 0;
}


.form_faq {
  font-size: 16px;
  margin: 20px 0 30px 0;
  width: 100%;
}
.top_faq {
  padding: 20px 0 30px 0px;
  width: 100%;
}
.top_faq div{
  display: block;
  border: 1px solid #eeeeee;
  margin: 10px 0 0 0;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}
.top_faq div .tit{
  font-size: 16px;
  line-height: 22px;
  color: #ed414d;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.top_faq div .answer{
  font-size: 14px;
  line-height: 18px;
  color: #333;
  padding: 10px 0 6px 0;
  display: block;
}


.pagination {
  height: 36px;
  margin: 0 auto 40px auto;
  text-align: center;
  width: 100%;
}
/*
.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
*/
.pagination a {
  padding: 10px 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  font-weight: bold;
  color: #666;
  margin: 0 0 0 2px;
}

.pagination a:hover,
.pagination .active{
  background-color: #f5f5f5;
  color: #ed414d;
}

.pagination .active {
  cursor: default;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination .disabled span,
.pagination .disabled,
.pagination .disabled:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.about_img a{
  margin: 0 16px 10px 0;
  display: inline-block;
}
.about_img a img{
  width: 200px;
}









.body-lg .cab_menu {
  float: right;
  margin: -20px 0 0 0;
}
.body-md .cab_menu {
  float: right;
  margin: -20px 0 0 0;
}
.body-sm  .cab_menu {
  margin: 10px 0 0 0;
}
.body-xs .cab_menu {
  margin: 10px 0 0 0;
}

.cab_menu a{
  border: 1px solid #999;
  border-radius: 6px;
  text-decoration: none;
  background-color: #f5f5f5;
  color: #222;
  line-height: 36px;
  white-space: nowrap;
}
.body-lg .cab_menu a {
  margin: 0 0 0 10px;
  padding: 10px 16px;
  font-size: 15px;
}
.body-md .cab_menu a {
  margin: 0 0 0 10px;
  padding: 10px 16px;
  font-size: 15px;
}
.body-sm  .cab_menu a {
  margin: 0 8px 0 0;
  padding: 6px 12px;
  font-size: 14px;
}
.body-xs .cab_menu a {
  margin: 0 8px 0 0;
  padding: 6px 12px;
  font-size: 14px;
}
.cab_menu a:hover{
  background: #ffe5e7!important;
  color: #222;
}
.cab_menu .active{
  background: #ed414d;
  color: #fff;
}



.body-lg .faq_menu {
  float: right;
  margin: -20px 0 0 0;
}
.body-md .faq_menu {
  float: right;
  margin: -20px 0 0 0;
}
.body-sm  .faq_menu {
  float: right;
  margin: -20px 0 0 0;
}
.body-xs .faq_menu {
  margin: 20px 0 0 0;
}


.faq_menu a{
  border: 1px solid #999;
  border-radius: 6px;
  text-decoration: none;
  background-color: #f5f5f5;
  color: #222;
  line-height: 36px;
  white-space: nowrap;
}
.body-lg .faq_menu a {
  margin: 0 0 0 10px;
  padding: 10px 16px;
  font-size: 15px;
}
.body-md .faq_menu a {
  margin: 0 0 0 10px;
  padding: 10px 16px;
  font-size: 15px;
}
.body-sm  .faq_menu a {
  margin: 0 0 0 10px;
  padding: 10px 16px;
  font-size: 15px;
}
.body-xs .faq_menu a {
  margin: 0 8px 0 0;
  padding: 6px 12px;
  font-size: 14px;
}
.faq_menu a:hover{
  background: #ffe5e7!important;
  color: #222;
}
.faq_menu .active{
  background: #ed414d;
  color: #fff;
}
.download_div {
  margin: 5px 0 0 0;
}


.inpintab input {
  margin: 2px 0 2px 10px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 4px 6px;
}
.body-lg .inpintab input, .body-lg .inpintab select, .body-lg .inpintab textarea {
  width: 300px;
}
.body-md .inpintab input, .body-md .inpintab select, .body-md .inpintab textarea {
  width: 300px;
}
.body-sm  .inpintab input, .body-sm  .inpintab select, .body-sm  .inpintab textarea {
  width: 300px;
}
.body-xs .inpintab input, .body-xs .inpintab select, .body-xs .inpintab textarea {
  width: 190px;
}
.inpintab select{
  margin: 2px 0 2px 10px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 4px 6px;
}

.inpintab textarea{
  margin: 2px 0 2px 10px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 4px 6px;
  height: 60px;
}
.butinp {
  padding: 6px 15px!important;
  border: 1px solid #999!important;
  background: #616d74!important;
  color: #fff!important;
  cursor: pointer;
}
.butinp:hover {
  background: #252525!important;
}
.account_inputz{
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px 6px;
}




/* ------------------------------------------  */


.ruk {
  float: right;
  margin: -20px 0 0 0;
}
.ruk a{
  margin: 0 0 0 10px;
  text-decoration: none;
}



.ahtung {
  border: 1px solid #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #555;
  margin: 15px 0 20px 0px;
  box-shadow: 4px 4px 5px silver;
  padding: 20px 0 10px 0;
  text-align: center;
  background: #eeeeee;
  width: 100%;
}
.ahtung .tit{
  color: #ed414d;
  font-size: 18px;
  line-height: 14px;
  font-weight: bold;
}
.ahtung .text{
  color: #333;
  font-size: 14px;
  line-height: 18px;
}
.ahtung .text a{
  color: #ed414d;
  text-decoration: none;
}
.ahtung .text a:hover{
  text-decoration: underline;
}


.cat3 {
  background: #fff;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #555;
  display: inline-block;
  height: 250px;
  position:relative;
  box-shadow: 4px 4px 5px silver;
}
.body-lg .cat3:nth-child(1n+1), .body-lg .cat3:nth-child(21n+2){
  width: 272px;
  margin: 0px 10px 10px 0px;
}
.body-lg .cat3:nth-child(3n+3){
  width: 272px;
  margin: 0px 0 10px 0px;
}
.body-md  .cat3{
  width: 272px;
  margin: 0px 14px 10px 0px;
}
.body-sm   .cat3{
  width: 272px;
  margin: 0px 10px 10px 0px;
}
.body-xs  .cat3{
  width: 272px;
  margin: 0px 14px 10px 0px;
}


.cat3 .img {
  display: table-cell;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 120px;
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  /*border: 1px solid red;*/
}
.cat3 .img img{
  text-align: center;
  vertical-align: middle;
}
.cat3 .titla {
  height: 100px;
  width: 222px;
  z-index: 3;
  position: absolute;
  vertical-align: bottom;
  display: inline-block;
  bottom: 10px;
}
.cat3 .titla .titla2  {
  display: block;
  bottom: 0px;
  position: absolute;
  width: 248px;
  margin-left: 13px;
}
.cat_rw1 {
  height: 40px;
  width: 196px;
  line-height: 18px;
}
.cat_rw2 {
  float: left;
}
.cat_rw3 {
  float: left;
  clear: left;
  color: #db0f0f;
  font-size: 17px;
  padding: 5px 0 0 0;
}
.cat_rw3  span {
  font-size: 12px;
  margin: 0 0 0 5px;
}
.yes {
  color: #369038;
}
.no {
  color: #888888;
}
.cat_rw1 .bt {
  float: right;
}


.sear {
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 7px;
  color: #333333;
  display: inline-block;
  margin: 0px 0 10px 0px;
  width: 100%;
  position:relative;
  padding: 7px 10px 3px 10px;
  box-shadow: 4px 4px 5px silver;
}
.sear_img {
  float: left;
  margin-right: 5px;
  text-align: center;
}
.body-lg .sear_img{
  width: 100px;
}
.body-md .sear_img{
  width: 90px;
}
.body-sm  .sear_img{
  width: 80px;
}
.body-xs .sear_img{
  width: 70px;
}
.sear_name {
  float: left;
  color: #333333;
  padding-top: 8px;
}
.body-lg .sear_name{
  width: 260px;
}
.body-md .sear_name{
  width: 155px;
}
.body-sm  .sear_name{
  width: 230px;
}
.body-xs .sear_name{
  width: 200px;
}
.sear_name a {
  color: #333333;
}
.body-lg .sear_name a{
  font-size: 14px;
}
.body-md .sear_name a{
  font-size: 13px;
}
.body-sm  .sear_name a{
  font-size: 13px;
}
.body-xs .sear_name a{
  font-size: 12px;
}
.body-lg .sear_br{

}
.body-md .sear_br{

}
.body-sm  .sear_br{
  clear: both;
}
.body-xs .sear_br{
  clear: both;
}
.sear_name a:hover {
  text-decoration: none;
}
.sear_cod {
  float: left;
  text-align: left;
  padding: 15px 0 0 5px;
  margin-left: 10px;
  color: #666666;
  font-size: 14px;
}
.body-lg .sear_cod{
  width: 130px;
}
.body-md .sear_cod{
  width: 115px;
}
.body-sm  .sear_cod{
  width: 120px;
}
.body-xs .sear_cod{
  width: 115px;
}


.sear_nal {
  width: 85px;
  float: left;
  text-align: center;
}
.body-lg .sear_nal{
  padding-top: 15px;
}
.body-md .sear_nal{
  padding-top: 15px;
}
.body-sm  .sear_nal{
  padding-top: 0px;
  padding-bottom: 15px;
}
.body-xs .sear_nal{
  padding-top: 0px;
  padding-bottom: 15px;
}
.sear_price {
  float: left;
  text-align: right;
  color: #ed414d;
  font-size: 17px;
}
.body-lg .sear_price{
  width: 125px;
  padding-top: 15px;
}
.body-md .sear_price{
  width: 120px;
  padding-top: 15px;
}
.body-sm  .sear_price{
  width: 260px;
  padding-top: 15px;
}
.body-xs .sear_price{
  width: 120px;
  padding-top: 15px;
}

.sear_price  span {
  font-size: 12px;
  margin: 0 0 0 5px;
}
.sear_bt {
  width: 75px;
  float: left;
  text-align: center;
  padding-top: 20px;
}

.sp_price {
  z-index: 10;
  position: absolute;
  background: #d30000;
  margin: 10px 0 0 10px;
  padding: 0px 5px 2px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
}
.sp_price2 {
  z-index: 10;
  position: absolute;
  background: #d30000;
  margin: -2px 0 0 -1px;
  padding: 1px 5px 3px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
}

.gooti1 {
  /*font-weight: bold;*/
  color: #000!important;
  font-size: 15px;
  line-height: 16px;
  text-align: left!important;
}

.btcup1 {
  margin: -20px 0 0 -42px;
  position: absolute;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;

  background-color: #ed414d;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}
.btcup1:hover, .btcup2:hover{
  background: red!important;
}
.btcup2 {
  margin: -20px 0 0 -50px;
  position: absolute;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;

  background-color: #ed414d;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}
.btcup3 {
  margin: -2px 0 0 33px;
  position: absolute;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;

  background-color: #616d74;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}


.btcup1l {
  margin: 0 0 0 10px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;

  background-color: #ed414d;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}
.btcup1l:hover, .btcup2l:hover{
  background: red!important;
}
.btcup2l {
  margin: 0 0 0 0px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;

  background-color: #ed414d;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}
.btcup3l {
  margin: 0 0 0 10px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none;

  background-color: #616d74;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}

.btn-primary {
  margin: 0px 0 0 5px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none!important;

  background-color: #ed414d;
  font-size: 15px;
  color: #fff!important;
  line-height: 20px;
  cursor: pointer;
}

.btn-none {
  margin: 0px 0 0 10px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 10px 16px;
  text-decoration: none!important;

  background-color: #616d74;
  font-size: 15px;
  color: #fff!important;
  line-height: 20px;
  cursor: pointer;
}
.btn-none:hover {
  background-color: #252525;
}

.btn-mini {
  border: 1px solid #999;
  border-radius: 6px;
  padding: 6px 6px;
  text-decoration: none!important;
  width: 30px;
  height: 30px;

  background-color: #ed414d;
  color: #fff!important;
  line-height: 12px;
  cursor: pointer;
}

.btn-mini {
  border: 1px solid #999;
  border-radius: 6px;
  padding: 6px 6px;
  text-decoration: none;
  width: 30px;
  height: 30px;

  background-color: #ed414d;
  line-height: 12px;
  cursor: pointer;
}

.btn-mini:hover, .btn-mini:hover, .btn-primary:hover{
  background: red!important;
}

.body-lg .modincart{
  width: 600px;
}
.body-md .modincart{
  width: 600px;
}
.body-sm  .modincart{
  width: 600px;
}
.body-xs .modincart{
  width: 100%;
}
.body-xs .modincart .page_title{
  font-size: 12px;
}

.body-xs .modincartbt{
  font-size: 12px;
  padding: 4px 8px;
  display: none;
}
.body-xs .modincartbt2{
  font-size: 12px;
  padding: 4px 8px;
  margin-top: 0px;
}




.tabin {
  margin: 0 20px 0 0;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  width: 100%;
}
.tabin td {
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;

}
.tabin th {
  border-left: 1px solid #d4d4d4;
  border-bottom: 2px solid #acadad;
}
.tabin td a {
  color: #ed414d!important;
}

.body-lg .tabin td,.body-lg .tabin th {
  padding: 8px 12px;
}
.body-md .tabin td,.body-md .tabin th {
  padding: 8px 12px;
}
.body-sm .tabin td,.body-sm .tabin th {
  padding: 4px 6px;
}
.body-xs .tabin td,.body-xs .tabin th {
  padding: 4px 6px;
}


.body-xs .cartbtclean {
  font-size:12px;
  padding: 6px 10px;
}

.body-sm  .carttab{
  font-size: 80%;
}
.body-xs .carttab{
  font-size: 60%;
}

.tabin2 {
  margin: 0 0 0 0;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  width: 100%;
}
.tabin2 td {
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 0px 12px;
}
.tabin2 th {
  border-left: 1px solid #d4d4d4;
  border-bottom: 2px solid #acadad;
  padding: 0px 12px;
}
.tabin2 td a {
  color: #ed414d!important;
}
.tabin2 input{
  width: 200px;
}


.pords{
  color: #666;
  margin: 20px 0 0 10px;
  line-height:18px;
}
.pords a{
  color: #1e70c3;
}
.pords table tr th {
  background: #fff;
}
.pords table tr td {
  background: #fff;
}
.pords table tr td a {
  color: #1e70c3;
}


/* -------------- */

.index div.contact {
  margin: 10px 0 5px 0;
  background: url(../img/contact.jpg) no-repeat 0px 0px;
  padding: 15px 0 0 0;
}
.index div.contact p.town {
  font-size: 18px;
  margin: 0px 0 14px 40px;
  color: #ED3342;
  font-weight: bold;
  text-shadow: 1px 1px White;
  line-height: 6px;
}
.index div.cont {
  padding: 4px;
  border-radius: 7px;
  box-shadow: 4px 4px 5px silver;
  border: 1px solid #eeeeee;
  margin: 0 0 12px 0;
}
.index div.cont2 {
  padding: 16px 4px 8px 4px;
  border-radius: 7px;
  box-shadow: 4px 4px 5px silver;
  border: 1px solid #eeeeee;
  min-height: 40px;
  margin: 0 0 12px 0;
}
.razdely {
  display: block;
  width: 233px;
  height: 30px;
  float: left;
  padding: 0 0 0 17px;
}
.razdely a{
  font-size: 16px;
  /*font-weight: bold;*/
  color: #777;
}

.index div.cont .half4 {
  float: left;
}
.body-lg .index div.cont .half4{
  width: 25%;
}
.body-md .index div.cont .half4{
  font-size: 12px;
  width: 25%;
}
.body-sm .index div.cont .half4 {
  font-size: 12px;
  width: 25%;
}
.body-xs .index div.cont .half4{
  font-size: 12px;
  width: 50%;
}
.index p.red {
  text-align: center;
  color: #EE2F43;
  margin: 2px 0px 4px 0px;
}
.body-lg .index p.red {
  font-size: 18px;
}
.body-md .index p.red {
  font-size: 16px;
}
.body-sm  .index p.red {
  font-size: 14px;
}
.body-xs .index p.red {
  font-size: 12px;
}
.body-xs .half4_br {
  clear: both;
}

.info h2.or, .info p.or, span.or, a.or, a.or:hover {
  color: #EE2F43;
  text-align: center;
}
.gmap {
  width: 100px;
  height: 100px;
  /*margin: 0px 0 0 100px;*/
  text-align: center;
  display: block;
  float: right;
}
.gmap img{
  height: 100px;
}




.models {
  float: left;
  width: 180px;
  height: 180px;
  display: inline;
  overflow: hidden;
  padding: 0;
  margin: 0 30px 10px 0;
  text-align: center;
}
.models div.img {
  display: block;
  height: 130px;
  width: 160px;
  margin: 0 10px 3px 10px;
  padding: 0px 0px 0px 0px;
  float: left;
  overflow: hidden;
  text-align: center;
}
.models a {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 16px;
}


.menu_xs {
  height: 50px;
  width: 100%;
  display: block;
  text-decoration: none;
  background: #eee url(../img/menu_xs.png) no-repeat 25px 11px;
  color: #EE2F43;
  cursor: pointer;
}
.menu_xs span {
  display: block;
  font-size: 22px;
  font-family: Ubuntu;
  margin: 0 0px 0 80px;
  line-height: 50px;
  font-weight: bold;
}
.menu_xs:hover {
  color: #979797;
  background: #eee url(../img/menu_xs.png) no-repeat 25px -32px;
}
.menu_xs_div {
  display: none;
}
.menu_xs_div a {
  width: 100%;
  display: block;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  text-decoration: none;
  line-height: 40px;
}
.menu_xs_div a span {
  color: #777777;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 0 18px;
}
.menu_xs_div a:hover {
  background: #ffe5e7!important;
}
.menu_xs_div .active {
  background: #eee;
}
